.container{
    max-width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 2px 4px rgb(143, 143, 143);
    margin:10px auto;

}

.container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid orange;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    box-shadow: 4px 2px 4px rgb(104, 104, 104);
    align-items: center;
    padding: 10px;
}

.search input{
    width: 70%;
    height: 60%;
    margin: 10px 0;
    font-size: 20px;
}
.search button{
    margin-left: -30px;
    padding: 7px 15px;
}